In [1]:
import json
import pandas as pd

path = '/home/codeforces_sft/eval_outputs/base_model/grader_logs.json'
with open(path, 'r') as f:
    grader_logs = json.load(f)

In [6]:
for problem_id in grader_logs:

    print(problem_id, grader_logs[problem_id]['ratings'])
    status_accept = []
    status_reject = []
    attempts = [k for k in grader_logs[problem_id] if k.startswith('attempt_')]
    attempts.sort(key=lambda x: int(x.split('_')[1]))
    accept_row = [grader_logs[problem_id][a].get('accepted') for a in attempts]
    reason_row = [grader_logs[problem_id][a].get('failure_reasons', '') for a in attempts]
    df = pd.DataFrame([accept_row, reason_row], index=['Accepted', 'Failure Reasons'], columns=attempts)
    display(df)

2063/A 800

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,TLE,TLE,TLE,TLE,TLE,TLE,TLE,TLE

2063/B 1100

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,WA,WA,RE,RE,RE,RE

2063/C 1600

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,WA,RE,RE,RE,RE,WA

2063/D 2000

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,RE,RE,RE,RE,RE,RE

2063/E 2300

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,WA,RE,RE,RE,RE,RE,WA,RE

2063/F1 2400

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,WA,RE,RE,WA,RE,RE,RE

2063/F2 2700

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,RE,RE,RE,RE,RE,RE

2028/A 900

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,FE,RE,RE,RE,RE,TLE,RE,TLE

2028/B 1400

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,TLE,TLE,RE,RE,RE,RE

2028/C 1600

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,WA,WA,RE,WA,RE,WA,WA

2028/D 2000

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,RE,RE,RE,WA,WA,WA

2028/E 2300

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,RE,RE,WA,RE,WA,RE

2028/F 2700

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,WA,RE,RE,WA,WA,WA,WA,WA

2019/A 800

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,WA,WA,RE,WA,WA,WA,RE,WA

2019/B 1200

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,WA,RE,RE,RE,RE,WA

1998/A 800

,attempt_0,attempt_1,attempt_2,attempt_3,attempt_4,attempt_5,attempt_6,attempt_7
Accepted,False,False,False,False,False,False,False,False
Failure Reasons,RE,RE,RE,WA,RE,RE,WA,RE